# envtmpl

Quick and dirty utility that executes a text templates using data from environment variables.

[![Build Status](https://travis-ci.org/williambailey/go-envtmpl.svg)](https://travis-ci.org/williambailey/go-envtmpl)

## Install

```bash
go get -u github.com/williambailey/go-envtmpl/envtmpl
```

## Usage

```bash
envtmpl example example.tmpl
```

Full usage is available by invoking `envtmpl` without any arguments.

```bash
envtmpl
```
```
{{ .USAGE }}
```

## Contributing

1. Fork the repository on GitHub
2. Create a named feature branch (i.e. `add-new-feature`)
3. Write your change
4. Submit a Pull Request

## Authors

- William Bailey - [@cowboysfromhell](https://twitter.com/cowboysfromhell) - ([mail@williambailey.org.uk](mailto:mail@williambailey.org.uk))

## License

Licensed under a [MIT license](LICENSE.txt).
